telegrambots.enabled: true

bot:
  token: ${BOT_TOKEN}
  username: ${BOT_USERNAME}
  url: https://t.me/${BOT_USERNAME}
event.decline.interval.min.seconds: 3600
event.interval.min.seconds: 345600
notification.upcoming:
  seconds: 3600
  scan.period.seconds: 1800
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        cache:
          use_second_level_cache: true
          region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
          use_query_cache: true
        enable_lazy_load_no_trans: true
        generate_statistics: ${HIBERNATE_GENERATE_STATS:#{false}}
logging.level:
  org.hibernate:
    #show sql statement: debug
#    SQL: debug
    #show sql values
#    type.descriptor.sql: trace
---
spring:
  profiles: test

---
spring:
  profiles: test_local
notification.upcoming:
  seconds: 60
  scan.period.seconds: 30
event.decline.interval.min.seconds: 1
event.interval.min.seconds: 1
---
spring:
  profiles: postgres-local
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password
    driverClassName: org.postgresql.Driver
    hikari:
      minimum-idle: 1
      maximum-pool-size: 2
    hibernate.ddl-auto: create
  jpa.properties.hibernate.jdbc.lob.non_contextual_creation: true
---
spring:
  profiles: mysql-local
  datasource:
    url: jdbc:mysql://localhost:3306/pair_pro_db?reconnect=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Europe/Moscow
    username: springuser
    password: ThePassword
    hikari:
      minimum-idle: 1
      maximum-pool-size: 2
  jpa:
    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate.ddl-auto: create
---
spring:
  profiles: mysql
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    removeAbandoned: true
    hikari:
      minimum-idle: 2
      maximum-pool-size: 5
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
---
spring:
  profiles: production
  jpa:
    hibernate.ddl-auto: update
