telegrambots.enabled: true

bot:
  token:
  username: pprobot
  url:

---
spring:
  profiles: mysql
  datasource:
    url: jdbc:mysql://localhost:3306/pair_pro_db?reconnect=true&useUnicode=true&characterEncoding=UTF-8
    username: springuser
    password: ThePassword
    removeAbandoned: true
    hikari:
      minimum-idle: 1
      maximum-pool-size: 2
  jpa:
    properties:
      hibernate:
        cache:
          use_second_level_cache: true
          region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
          use_query_cache: true
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        enable_lazy_load_no_trans: true
        generate_statistics: ${HIBERNATE_GENERATE_STATS:#{false}}
# Hibernate ddl auto (create, create-drop, validate, update)
    hibernate.ddl-auto: update

logging.level:
  org.hibernate:
    #show sql statement: debug
    SQL: info
    #show sql values
    #type.descriptor.sql: trace
  com.vk.api.sdk.httpclient.HttpTransportClient: warn

---
spring:
  profiles: test_local
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa.database-platform: org.hibernate.dialect.H2Dialect
---
spring:
  profiles: production
  datasource:
    url:
    username:
    password:
    hikari:
      minimum-idle: 2
      maximum-pool-size: 5
bot:
  token:
  username:
  url: